﻿@model MakeupStudio.Models.Orders.AppointMeetingModel
@{
    ViewBag.Title = "Назначение времени приема";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/bundles/styles/orders/assignappointment")
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/orders/assignappointment")
}

<a href="@Url.Action("Index", "Orders")" class="btn btn-info" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Назад
</a>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<div class="panel panel-default" style="max-width: 500px">
    <div class="panel-body">
        <form role="form">

            <input type="hidden" id="orderId" value="@Model.OrderId" />

            <div class="form-group">
                <label>Дата заявки</label>
                <input id="createdDate" disabled="disabled" type="text" class="form-control localdate" data-date="@Model.CreatedDate.ToString("O")"/>
                <p class="help-block">Время, когда клиент оставил заявку.</p>
            </div>

            <div class="form-group">
                <label>Имя клиента</label>
                <input disabled="disabled" type="text" class="form-control" value="@Model.ClientName"/>
            </div>

            <div class="form-group">
                <label>Телефон клиента</label>
                <input disabled="disabled" type="text" class="form-control" value="@Model.ClientPhone"/>
            </div>

            <div class="form-group">
                <label>Комментарий клиента</label>
                <textarea readonly="readonly" rows="3" type="text" class="form-control">@Model.ClientComment</textarea>
                <p class="help-block">Какие-либо пожелания клиента.</p>
            </div>

            <div class="form-group">
                <label>Дата и время записи</label>
                <div class="input-append date">
                    <input id="appointedTime" readonly="readonly" style="background-color: #ffffff" class="form-control" type="text">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group">
                <label>Ваш комментарий</label>
                <textarea id="masterComment" rows="3" type="text" class="form-control"></textarea>
                <p class="help-block">Не обязательно к заполнению. Видно только для Вас.</p>
            </div>

            <button href="#" type="button" class="btn btn-success" id="saveBtn">
                <span class="glyphicon glyphicon-ok"></span> Назначить
            </button>
        </form>
    </div>
</div>