﻿@{
    ViewBag.Title = "Изменение аватарки";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/bundles/styles/photos/editavatar")
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/photos/editavatar")
}

<a href="@Url.Action("Index", "Photos")" class="btn btn-info" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Назад
</a>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<div class="panel panel-default" style="max-width: 500px">
    <div class="panel-body">
        <form role="form" action="@Url.Action("EditAvatar", "Photos")" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label class="form-label">Выберите картинку</label>
                <input id="avatar" type="file" name="Avatar">
                <span class="help-block">Максимальный размер файла 2 мегабайта.</span>
            </div>

            <button href="#" type="submit" class="btn btn-success" id="saveBtn">
                <span class="glyphicon glyphicon-upload"></span> Загрузить
            </button>
        </form>
    </div>
</div>