﻿@model MakeupStudio.Models.Works.EditWorkModel
@{
    ViewBag.Title = "Изменение услуги";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/works/editwork")
}

<a href="@Url.Action("Index", "Works")" class="btn btn-info" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Назад
</a>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<div class="panel panel-default" style="max-width: 500px">
    <div class="panel-body">
        <form role="form">

            <input type="hidden" id="WorkId" value="@Model.WorkId"/>

            <div class="form-group">
                <label>Категория</label>
                <select class="form-control selectpicker" disabled="disabled" title="Выберите категорию">
                    <option selected="selected">@Model.CategoryName</option>
                </select>
            </div>

            <div class="form-group">
                <label>Подкатегория</label>
                <select class="form-control selectpicker" disabled="disabled" title="Выберите подкатегорию">
                    <option selected="selected">@Model.ChildCategoryName</option>
                </select>
            </div>

            <div class="form-group">
                <label>Название услуги</label>
                <div class="input-group">
                    <input type="text" id="work-name" class="form-control" placeholder="Выберите название услуги" value="@Model.WorkName">
                    <div class="input-group-btn">

                        @if (Model.HasSystemWorkNames)
                        {
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default dropdown-toggle" disabled="disabled" data-toggle="dropdown"><span class="caret"></span></button>
                        }

                        <ul class="dropdown-menu pull-right">
                            @if (Model.HasSystemWorkNames)
                            {
                                foreach (var systemWorkName in Model.SystemWorkNames)
                                {
                                    <li><a class="system-work-name" href="#">@systemWorkName</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                @*<p class="help-block">Вы можете выбрать название услуги из списка </p>*@
            </div>

            <div class="form-group">
                <label>Стоимость услуги</label>
                <div class="input-group">
                    <input type="text" id="work-price" class="form-control" value="@Model.Price" placeholder="Введите стоимость услуги">
                    <span class="input-group-addon" id="basic-addon2">руб.</span>
                </div>
                <p class="help-block">Целое число без копеек</p>
            </div>

            <button href="#" type="button" class="btn btn-success" id="saveBtn">
                <span class="glyphicon glyphicon-ok"></span> Сохранить изменения
            </button>
        </form>
    </div>
</div>